#2557 Hello World!를 출력하시오.

In [1]:
print("Hello World!")

Hello World!

#1000  두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [2]:
A,B = map(int,input().split())

C=A+B
print(C)

3 6
9

#2558 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 첫째 줄에 A, 둘째 줄에 B가 주어진다. (0 < A, B < 10)

In [3]:
A= int(input())
B= int(input())
C = A+B
print(C)

3
6
9

#10950 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [4]:
A = int(input())

for i in range(A):
    a,b = map(int,input().split())
    c = a+b
    
    print(c)

2
1 2
3
2 3
5

#10951 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [5]:
while True:
    try:
        A, B = map(int, input().split())
        C=A+B
        print(A+B)
    except:
        break

3 6
9
3 -3
0
3 ㄱ

#10952 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

입력의 마지막에는 0 두 개가 들어온다.

In [ ]:
while True:
    A, B = map(int, input().split())
    C = A + B
    if A == 0 and B == 0:
        break
    else:
        print(A+B)

#10953 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. A와 B는 콤마(,)로 구분되어 있다. (0 < A, B < 10)

In [7]:
A = int(input())

for i in range(A):
    a,b = map(int,input().split(','))
    c = a+b
    
    print(c)

2
1,4
5
2,5
7

#11021 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10) 각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

In [8]:
A = int(input())

for i in range(A):
    a, b = map(int, input().split())
    print('Case #', str(i+1), ': ', (a+b))

3
1 2
Case # 1 :  3
2 3
Case # 2 :  5
3 7
Case # 3 :  10

#11022 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오. 첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10) 각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다. x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.

In [9]:
A = int(input())

for i in range(A):
    a,b = map(int, input().split())
    print('Case #', str(i+1), ': ',a,'+',b,'=', (a+b))

2
1 4
Case # 1 :  1 + 4 = 5
2 6
Case # 2 :  2 + 6 = 8

#11718  입력 받은 대로 출력하는 프로그램을 작성하시오. 입력이 주어진다. 입력은 최대 100줄로 이루어져 있고, 알파벳 소문자, 대문자, 공백, 숫자로만 이루어져 있다. 각 줄은 100글자를 넘지 않으며, 빈 줄은 주어지지 않는다. 또, 각 줄은 공백으로 시작하지 않고, 공백으로 끝나지 않는다. 입력받은 그대로 출력한다.

In [ ]:
while True:
    try:
        print(input())
    except :
        break

#11719  입력 받은 대로 출력하는 프로그램을 작성하시오. 입력이 주어진다. 입력은 최대 100줄로 이루어져 있고, 알파벳 소문자, 대문자, 공백, 숫자로만 이루어져 있다. 각 줄은 100글자를 넘지 않으며, 빈 줄이 주어질 수도 있고, 각 줄의 앞 뒤에 공백이 있을 수도 있다.입력받은 그대로 출력한다.

In [ ]:
while True:
    try:
        print(input())
    except :
        break

5
5

#11720  N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오. 첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다. 입력으로 주어진 숫자 N개의 합을 출력한다.

In [ ]:
a = int(input())
b = input()
c = 0

for i in range(a):
    c += int(b[i])

print(c)

#11721
알파벳 소문자와 대문자로만 이루어진 길이가 N인 단어가 주어진다.
한 줄에 10글자씩 끊어서 출력하는 프로그램을 작성하시오.
첫째 줄에 단어가 주어진다. 단어는 알파벳 소문자와 대문자로만 이루어져 있으며, 길이는 100을 넘지 않는다. 길이가 0인 단어는 주어지지 않는다.
입력으로 주어진 단어를 열 개씩 끊어서 한 줄에 하나씩 출력한다. 단어의 길이가 10의 배수가 아닌 경우에는 마지막 줄에는 10개 미만의 글자만 출력할 수도 있다.

In [2]:
word = input()
length = len(word)
start = 0
end = 10

while True:
    if end < length:
        print(word[start:end])
        start += 10
        end += 10
    else:
        print(word[start:])
        break

abdasfasfsfsdfsf
abdasfasfs
fsdfsf

#2741
자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오. 
첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.
첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [4]:
n = int(input())

for i in range(n):
    print(i+1)

13
1
2
3
4
5
6
7
8
9
10
11
12
13

#2742 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오. 첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다. 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [5]:
n = int(input())

for a in range(n, 0, -1):
    print(a)

11
11
10
9
8
7
6
5
4
3
2
1

#2739 N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다. 첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 9보다 작거나 같다. 출력형식과 같게 N*1부터 N*9까지 출력한다.

In [6]:
n = int(input())

for a in range(1, 10):
    print(n, ' * ', a, ' = ', n * a)

2
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

#1924
오늘은 2007년 1월 1일 월요일이다. 그렇다면 2007년 x월 y일은 무슨 요일일까? 이를 알아내는 프로그램을 작성하시오.
첫째 줄에 빈 칸을 사이에 두고 x(1 ≤ x ≤ 12)와 y(1 ≤ y ≤ 31)이 주어진다. 참고로 2007년에는 1, 3, 5, 7, 8, 10, 12월은 31일까지, 4, 6, 9, 11월은 30일까지, 2월은 28일까지 있다.
첫째 줄에 x월 y일이 무슨 요일인지에 따라 SUN, MON, TUE, WED, THU, FRI, SAT중 하나를 출력한다.

In [7]:
x, y = map(int, input().split())

week = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
day = 0

for a in range(x-1):
    day += month[a]
day = (day + y) % 7

print(week[day])

1 3
WED

#8393
n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.
첫째 줄에 n (1 ≤ n ≤ 10,000)이 주어진다.
1부터 n까지 합을 출력한다.

In [8]:
n = int(input())
sum = 0

for a in range(1, n+1):
    sum += a
print(sum)

10
55

#10818
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오. 첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다. 첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

In [10]:
n = int(input())
nlist = map(int, input().split())
result = list(nlist)
result.sort()

print(result[0], result[-1])

3
101 100 102
100 102

#2438 
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [11]:
n = int(input())

for a in range(1, n+1):
    print('*' * a)

3
*
**
***

#2439 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [13]:
n = int(input())

for a in range(1, n+1):
    print(('*' * a).rjust(n))

4
   *
  **
 ***
****

#2440
첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [14]:
n = int(input())

for a in range(n, 0, -1):
    print('*' * a)

5
*****
****
***
**
*

#2441
첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [15]:
n = int(input())

for a in range(n, 0, -1):
    print(('*' * a).rjust(n))

5
*****
 ****
  ***
   **
    *

#2442
첫째 줄에는 별 1개, 둘째 줄에는 별 3개, ..., N번째 줄에는 별 2×N-1개를 찍는 문제

별은 가운데를 기준으로 대칭이어야 한다.
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [16]:
n = int(input())

for a in range(1, n+1):
    print(' ' * (n-a) + '*' * (2*a-1))

5
    *
   ***
  *****
 *******
*********

#2445
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

In [18]:
n = int(input())

for a in range(1, n+1):
    print(('*' * a).ljust(n), ('*' * a).rjust(n))

for a in range(n-1, 0, -1):
    print(('*' * a).ljust(n), ('*' * a).rjust(n))

5
*         *
**       **
***     ***
****   ****
***** *****
****   ****
***     ***
**       **
*         *

#2522
예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

In [19]:
n = int(input())

for a in range(1, n+1):
    print(('*' * a).rjust(n))

for a in range(n-1, 0, -1):
    print(('*' * a).rjust(n))

3
  *
 **
***
 **
  *

#2446
예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

In [20]:
n = int(input())

for a in range(n, 0, -1):
    print(' ' * (n-a), '*' * (2*a-1))

for a in range(2, n+1):
    print(' ' * (n-a), '*' * (2*a-1))

3
 *****
  ***
   *
  ***
 *****

#10991
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [24]:
n = int(input())

for a in range(1, n+1):
    print(' ' * (n-a), sep='', end='')
    for b in range(1, a):
        print('* ', sep='', end='')
    print('*')

3
  *
 * *
* * *

#10992
예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [25]:
n = int(input())

for a in range(1, n+1):
    if a == 1 or a == n:
        print(' ' * (n-a), '*' * (2*a-1), sep='')
    else:
        print(' ' * (n-a), '*', ' ' * ((a-1) * 2 -1), '*', sep='')

3
  *
 * *
*****